/* .box{
    color: pink;
} */
/* .app-bar{
    color: rgb(124, 124, 124);
    
} */
.box  .app-bar .tool-bar{
    color: #78909c;
    background-color: #263238;
}
.login-link{
    color:rgb(151, 150, 150);
    text-decoration: none;
    padding-left: 500px;
    


}
.home-link{
    color:rgb(151, 150, 150);
    text-decoration: none;
   
}