/* .box{
    color: pink;
} */
/* .app-bar{
    color: rgb(124, 124, 124);
    
} */
.box  .app-bar .tool-bar{
    color: #162227;
    background-color: #263238;
    display: flex;
}
.nav-menu-options{
    display:flex;
}
.register-link{
    color:rgb(151, 150, 150);
    text-decoration: none;
   
    


}
.login-link{
    color:rgb(151, 150, 150);
    text-decoration: none;
    padding-left: 550px;
    


}

.home-link{
    color:rgb(151, 150, 150);
    text-decoration: none;
    white-space: nowrap;
   
}
