.card-style{
    color:#2299d5;
}
.transactions{
    color:rgb(159, 158, 164);
}
.table-container{
    color: rgb(29, 24, 73);
}
@media screen and (max-width:640px){
    .card-content{
        max-width: 90%;
        margin: auto;
        
    }
    
    .card-style{
        font-size: 1.4rem;
        padding-top: 10px;
        width: 200px;
    }
    .card-style .card-content .form{
        font-size: 1.4rem;
        max-width: 90%;
        margin: auto;
       
    }
       

}